/* ROOTS */
:root {
  --player-height: 80px;
  --sidebar-width: 60px;
  --header-height: 80px;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* max-width: 1100px;
  margin: auto; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul {
  list-style-type: none;
}
.flex {
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}
/* STRUTTURA COL */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  row-gap: 1rem;
}
[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* .col-1-3 {
  width: calc(100% / 3);
}
.col-1-6 {
  width: calc(100% / 3 / 2);
} */
/* UTILITY */
.xs-none {
  display: none;
}
.circle {
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
}
.align {
  display: flex;
  align-items: end;
}
.button {
  padding: 1rem 3rem;
  background-color: #00000000;
  text-transform: uppercase;
  border: 2px solid white;
  color: white;
  border-radius: 1.5rem;
  margin: 1rem 0.5rem;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
/* LAYOUT */
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #141922;
  color: white;
}

#top-content {
  display: flex;
  height: calc(100vh - var(--player-height));
}

/* #sidebar {
  background-color: #000000;
  width: var(--sidebar-width);
  overflow: auto;
} */

#main-content {
  width: calc(100% - var(--sidebar-width));
}
#main-header {
  background-color: #00000080;
  text-align: right;
  height: var(--header-height);
}
#main-body {
  height: calc(100vh - var(--player-height) - var(--header-height));
  overflow: auto;
}

#player {
  background-color: #282828;
  height: var(--player-height);
}

/* SIDEBAR */
#sidebar {
  background-color: #000000;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: gray;
  font-weight: bold;
  font-size: 0.9rem;
  overflow: auto;
}
/* TOP SIDEBAR */
#logo-xs {
  width: 100%;
  padding: 1rem;
}
#logo {
  width: 200px;
  padding: 1rem;
}
#top-sidebar nav ul li img {
  width: 20px;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}
#top-sidebar nav ul li {
  padding: 0rem 1rem;
}
#top-sidebar nav ul li.active {
  color: white;
  border-left: 4px solid lime;
  padding-left: calc(1rem - 4px);
}
/* PLAYLIST SIDEBAR */

#playlist {
  margin-top: 1rem;
  padding: 0rem 1rem;
}
#playlist .playlist-title {
  color: white;
  font-size: 1rem;
}
#create {
  background-color: grey;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
}
#add-playlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
#playlist li {
  margin: 1rem 0rem;
}
/* BOTTOM SIDEBAR */
#bottom-sidebar {
  padding: 1rem;
}
#bottom-sidebar img {
  width: 20px;
}
#bottom-sidebar span {
  padding-left: 0.5rem;
}
#bottom-sidebar .slash {
  width: 100%;
  border: 1px solid grey;
}
#download {
  padding-bottom: 0.5rem;
}
#user {
  padding-top: 0.5rem;
}

/* PLAYER */
#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  color: #5a5a5a;
}

#current-song {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#current-song #song-cover {
  padding: 0.5rem;
}
#current-song .song-cover img {
  width: 32px;
}
#current-song .song-title {
  font-weight: bold;
  color: white;
}
#current-song .artist {
  color: gray;
  font-size: 0.7rem;
}
#playing-song {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}
#volume-song {
  display: flex;
  gap: 0.5rem;
  color: white;
}
#playing-settings {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.circle-play {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-size: 1.2rem;
  padding-left: 2px;
  flex-shrink: 0;
}
#playing-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.bar {
  width: 100%;
  background-color: #5a5a5a;
  height: 4px;
}
.current-bar {
  width: 30%;
  background-color: white;
  height: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.current-bar::after {
  content: "";
  display: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
  transform: translateX(50%);
}

.volume-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 80px;
}

/* MAIN CONTENT */

/* MAIN NAV */
.navigate-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.navigate-content #menu-content {
  text-align: center;
  color: gray;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
.navigate-content #menu-content li {
  display: inline-block;
  margin: 1rem 0.5rem;
}
/* RECENTLY PLAYED */
.s-col-1-2 {
  width: calc(100% / 2);
}
.section-title {
  margin: 1rem 0rem;
}
.section-title h2 {
  padding: 1rem 0rem;
}
.description {
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.card {
  text-align: center;
}
.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
}
.card-content .album {
  font-weight: bolder;
  margin: 0.5rem 0rem;
}
.card-img.round {
  border-radius: 50%;
  overflow: hidden;
}

/* HOVER */
#playlist li:hover,
#top-sidebar nav ul li:hover,
#add-playlist:hover span,
#download:hover,
#user:hover,
.saves *:hover,
.song-name span.artist:hover,
#playing-settings *:hover {
  color: white;
  cursor: pointer;
}
.song-name .artist:hover {
  text-decoration: underline;
}
#playing-song .circle-play:hover {
  transform: scale(1.3);
}
#add-playlist:hover #create {
  background-color: white;
  cursor: pointer;
}
.bar:hover {
  cursor: pointer;
}
.bar:hover .current-bar {
  background-color: lime;
}
.bar:hover .current-bar::after {
  display: flex;
}

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 250px;
  }
  .s-display-inline-block {
    display: inline-block;
  }
  #logo-xs {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .md-col-1-4 {
    width: calc(100% / 4);
  }
}

@media screen and (min-width: 992px) {
  .l-col-1-6 {
    width: calc(100% / 6);
  }
}
